<ion-header>
  <ion-toolbar>
    <ion-title>Cursos Austral</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <!-- Título grande -->
    <h1>Cursos Austral</h1>

    <!-- Espacio para la imagen -->
    <div class="image-container">
      <img src="assets/img/LogoAustral.png">
    </div>

    <!-- Botones de Iniciar Sesión y Registrarse -->
    <ion-button expand="block" color="primary" (click)="goToLogin()">Iniciar Sesión</ion-button>
    <ion-button expand="block" color="secondary" (click)="goToRegister()">Registrarse</ion-button>
  </div>
</ion-content>
